<script>
import Card from './card.vue'
import Paginator from './paginator.vue'

export default {
  props: ['ratesDoc', 'currency'],

  components: {
    Card, Paginator
  },

  mounted() {
    if (this.$refs.bodyRef?.clientWidth < 400) {
      this.columnClass = 'col-md-12'
      this.cardsPerPage = 2
    } else {
      this.columnClass = 'col-md-6'
      this.cardsPerPage = 4
    }
  },

  data() {
    return {
      moneyVal: 3600,
      columnClass: '',
      cardsPerPage: 2,
      pageNum: 0
    }
  },

  methods: {
    formatter(val) {
      val = Math.abs(val)
      return val.toString().length > 6 
        ? +val.toString().substr(0, 6)
        : val
    }
  },

  computed: {
    filteredCurrencies() {
      return this.ratesDoc.rates.filter(r => r.currency != this.currency)
    },

    pageCurrencies() {
      const fcs = this.filteredCurrencies
      const cardsPerPage = this.cardsPerPage
      const res = fcs.slice(this.pageNum * cardsPerPage, this.pageNum * cardsPerPage + cardsPerPage)
      return res
    }
  }

}
</script>

<template>
  <div class="p-3" ref="bodyRef">

    <div class="row">
      <div class="col-md-12">
        <div class="float-right">
          <b-input-group :append="currency" style="width: 200px;">
            <b-form-input type="number" v-model="moneyVal" :formatter="formatter" />
          </b-input-group>
        </div>
      </div>  
    </div>

    <div class="row mb-3" style="height: 270px;" >
      <div v-for="cr in pageCurrencies" :class="columnClass" :key="`card=${cr.currency}`">
        <card 
          :moneyVal="moneyVal" 
          :ratesDoc="ratesDoc" 
          :baseCurrency="currency" 
          :targetCurrency="cr" 
        />
      </div>  
    </div>

    <Paginator 
      :page-num.sync="pageNum" 
      :cards-per-page="cardsPerPage"
      :total-cards="filteredCurrencies.length"
    />
    
  </div>
</template>