<script>
export default {
  props: ['moneyVal', 'ratesDoc', 'baseCurrency', 'targetCurrency'],

  computed: {
    value() {
      const baseCr = this.ratesDoc.rates.find(r => r.currency === this.baseCurrency)
      return Math.round(this.moneyVal / baseCr.rate * this.targetCurrency.rate * 100) / 100
    }
  }
}
</script>

<template>
  <div class="pt-3 root-color">
    <div>
      <span>{{moneyVal}}</span>
      <span class="color-gray">
        {{baseCurrency}} = 
      </span>
    </div>
    <div>
      <span class="val-span">
        {{value.toLocaleString()}}
      </span>
      <span>
        {{targetCurrency.currency}} 
      </span>
    </div>
    <hr>
  </div>
</template>

<style scoped>
  .root-color {
    color: #2B2D33;
  }

  .val-span {
    font-size: 2rem;
  }

  .color-gray {
    color: #B9B9B9;
  }
</style>