<script>
import * as Sentry from "@sentry/vue"
import axios from 'axios'
import Tabs from './tabs.vue'
import Body from './body.vue'


export default {
  components: {
    Tabs, Body
  },

  data() {
    return {
      currency: '',
      ratesDoc: {},
      errorMessage: false
    }
  },

  methods: {
    currencyChanged(cr) {
      this.currency = cr
    }
  },

  async created() {
    try {
      const { data: rates } = await axios.get(process.env.VUE_APP_API)
      rates.rates.unshift({ currency: 'EUR', rate: 1 })
      this.ratesDoc = rates
      this.currency = rates.rates[0].currency
    } catch (e) {
      Sentry.captureException(e)
      this.errorMessage = e
    }
  },

  computed: {
    currencySymbols() {
      return this.ratesDoc.rates?.map(r => r.currency)
    }
  }
}
</script>

<template>
  <div>
    <div v-if="errorMessage">
      <h4>Ошибка загрузки данных</h4>
      {{errorMessage}}
    </div>
    <div v-if="ratesDoc.date">
      <div class="p-3 b-yellow">
        <h5> 
          Курс {{currency}} на {{new Date(ratesDoc.date).toLocaleString().replace(/\:\d\d$/, '')}}
        </h5>
      </div>
      
      <Tabs :currency-list="currencySymbols" @currencyChanged="currencyChanged" />
      <Body :rates-doc="ratesDoc" :currency="currency" />
    </div>  
  </div>
</template>

