<script>
export default {
  props: ['pageNum', 'cardsPerPage', 'totalCards'],

  methods: {
    onNavClick(val) {
      this.$emit('update:pageNum', this.pageNum + val)
    }
  }
}
</script>

<template>
  <div class="text-center">
    <b-button 
      variant="light" 
      @click.prevent="onNavClick(-1)" 
      :disabled="pageNum < 1"
    >
      <b-icon icon="arrow-left" />
      Назад
    </b-button>
    <b-button 
      variant="light" 
      class="ml-2" 
      @click.prevent="onNavClick(1)"
      :disabled="pageNum >= totalCards / cardsPerPage - 1"
    >
      Далее
      <b-icon icon="arrow-right" />
    </b-button>
  </div>
</template>