<script>
export default {
  props: ['currencyList'],

  data() {
    return {
      activeCurrency: this.currencyList[0],
      visibleTabsCount: 0
    }
  },

  mounted() {
    this.visibleTabsCount = Math.floor(this.$refs.tabsRef?.clientWidth / 100)
  },

  computed: {
    visibleTabs() {
      const currIndex = this.currencyList.indexOf(this.activeCurrency)
      const rightSide = this.currencyList.length - this.visibleTabsCount
      let firstTab = currIndex - Math.floor(this.visibleTabsCount / 2)
      if (firstTab < 0) {
        firstTab = 0
      } else if (firstTab > rightSide) {
        firstTab = rightSide
      }
      return this.currencyList.slice(firstTab, firstTab + this.visibleTabsCount)
    },


  },

  methods: {
    tabClick(cr) {
      this.activeCurrency = cr
      this.$emit('currencyChanged', cr)
    },

    navClick(n) {
      const currIndex = this.currencyList.indexOf(this.activeCurrency)
      this.activeCurrency = this.currencyList[currIndex + n]
      this.$emit('currencyChanged', this.activeCurrency)
    }
  }
}
</script>

<template>
  <div ref="tabsRef" class="tab-root">

    <ul class="nav nav-tabs nav-fill">
      <li class="nav-item b-yellow">
        <a v-if="activeCurrency != currencyList[0]" href @click.prevent="navClick(-1)" class="nav-link" style="padding: 10px 0">
          <b-icon icon="caret-left" />
        </a>
        <span v-else class="nav-link" style="padding: 10px 0">
          <b-icon icon="caret-left" />
        </span>
      </li>

      <li v-for="cr in visibleTabs" :key="`tab-${cr}`" class="nav-item b-yellow">  
        <a href
          class="nav-link" 
          :class="{active: activeCurrency == cr}"
          @click.prevent="tabClick(cr)"
          style="padding: 10px 0"
        >
          {{cr}}
        </a>
      </li>
      <li class="nav-item b-yellow">
        <a v-if="activeCurrency != currencyList[currencyList.length - 1]" href @click.prevent="navClick(1)" class="nav-link" style="padding: 10px 0">
          <b-icon icon="caret-right" />
        </a>
        <span v-else class="nav-link" style="padding: 10px 0">
          <b-icon icon="caret-right" />
        </span>
      </li>
    </ul>

  </div>
</template>

<style scoped>
  a {
    color: gray;
  }
  .tab-root {
    color: lightgray;
  }
</style>
