<script>
import CurrencyWidget from './components/widget/currency.vue'

export default {
  name: 'App',
  components: {
    CurrencyWidget
  },

  computed: {
    oneWidgetOnly() {
      return process.env.ONE_WIDGET_ONLY
    }
  }

}
</script>

<template>
  <div id="app">
    <!-- couple widgets with different width for development -->
    <div class="container" v-if="!oneWidgetOnly">
      <h1 class="mt-3 mb-3">Виджет валют</h1>
      <div class="row">
        <div class="col-md-4">
          <currency-widget />
        </div>
        <div class="col-md-6 offset-md-1">
          <currency-widget />
        </div>
      </div>  
    </div>
    <!-- one widget only for production -->
    <div class="container-fluid" v-else>
      <currency-widget />
    </div>
  </div>
</template>

<style>
  .b-yellow {
    background-color: yellow;
  }
</style>
